img{
   height: 300px;
   width: 200px;
   border-radius: 100%;
}
body{
   background-color: beige;
}
a{
   text-decoration: none;
}
h2{
   margin: 0;
}

P{
   font-size: 30PX;
}
.hr1{
   width: 300px;
   border-radius: 100%;
}
.div1{
   
   position: absolute;
   
}
.div2{
      padding-left: 250px;
      padding-top: 100px;
      padding-bottom: 80px;
      font-family: 'Roboto', sans-serif;
}
.div3{
   height: 200px;
   width: 200px;
   position: absolute;
   background-color:aquamarine ;
   font-family: 'Roboto', sans-serif;
}
.div4{
   height: 200px;
   width: 200px;
   background-color: aquamarine;
   margin-left: 400px;
   position: absolute;
   font-family: 'Roboto', sans-serif;
}
.div5{
   height: 200px;
   width: 200px;
   background-color: aquamarine;
   margin-left: 800px;
   font-family: 'Roboto', sans-serif;
}
.diva{
   height: 200px;
   width: 200px;
   background-color: aqua;
   margin-left: 450px;
   text-align: center;
   font-family: 'Courier New', Courier, monospace;
}